# ===== Maven / Java =====
target/
*.class
*.log

# ===== IntelliJ =====
.idea/
*.iml
*.iws
*.ipr
out/

# ===== Eclipse / STS =====
.classpath
.project
.settings/
.springBeans

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Env / secrets =====
.env
*.env
application*.yml  <-- Quitamos el guion
application*.yaml <-- Quitamos el guion
application*.properties <-- Quitamos el guion
*.key
*.pem
secrets/

# ===== Docker =====
Dockerfile
Dockerfile.*
docker-compose*.yml
docker-compose*.yaml
.dockerignore

# ===== Database Scripts (Flyway / SQL) =====
*.sql
**/db/migration/*.sql